alembic==0.8.3
aniso8601==1.1.0
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
decorator==4.0.6
fake-factory==0.5.3
Flask==0.10.1
Flask-Migrate==1.6.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
GeoAlchemy2==0.2.6
gpsimage==0.0.2
gunicorn==19.3.0
idna==2.5
infinity==1.3
intervals==0.3.1
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
meld3==1.0.2
olefile==0.44
passlib==1.6.5
Pillow==4.3.0
pkg-resources==0.0.0
psycopg2==2.6
python-dateutil==2.4.2
python-editor==0.5
pytz==2015.7
requests==2.17.3
Shapely==1.5.13
simplekml==1.3.0
six==1.10.0
SQLAlchemy==1.0.10
SQLAlchemy-Utils==0.31.4
supervisor==3.1.3
urllib3==1.21.1
validators==0.9
Werkzeug==0.11.2
